.carousel-item>img {
    min-height: 300px;
    max-height: 800px;
    bottom: 0;
    object-fit: cover;
    filter: brightness(0.3);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    text-shadow: 1px 1px 1px 10px #000;
    font-weight: 500;
}

.lead {
    font-size: 200%;
}

.padding {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
}

.welcome>div>.lead {
    font-weight: 300;
}

.card {
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 2px 2px 7px black;
}

.card>img {
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;
}

.card-text {
    font-size: 130%;
}

#contact-header {
    font-size: 300%;
}

.social {
    font-size: 500%;
}

.social a {
    text-decoration: none;
    margin: 0 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #ee41e0;
}

.fa-youtube {
    color: #bb0000;
}

footer {
    font-size: 120%;
}

.info-title {
    font-size: 140%;
    font-weight: 600;
}

#navigationBar {
    font-size: 1.4rem;
    font-weight: 400;
}

#nav-header {
    font-size: 1.5rem;
}

#signin-button,
#signup-button {
    font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
    #signin-button,
    #signup-button {
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-caption {
        top: 30%;
    }
    .carousel-caption h1 {
        font-size: 200%;
    }
    .carousel-caption h3 {
        font-size: 120%;
    }
    .lead {
        font-size: 100%;
    }
    .card>img {
        min-height: 200px;
        max-height: 200px;
    }
}