@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  margin: none;
  object-fit: cover;
  width: 100%;
  padding: 25px;
}

/*-------Header-------*/
header{
  height: 100px;
  background: #2274A5;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
}

.logo{
  float: left;
  color: #fff;
  padding: 20px;
}

.logo img{
  height: 50px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background:#19567B;
  color: #fff;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #fff;
}

a.aj_btn {
  background: #19567B;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

a.aj_btn:hover{
  background: #fff;
  color: #19567B;
  font-weight: 500;
  letter-spacing: 2px;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


.active-btn {
  background-color: #298fca;
  color: #E9F1F7;
  border-radius: 15px;
  text-decoration: none;
}

.activegold {
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(128deg, #e0aa3e 52%, #e0aa3e 48%, #b88a44 100%);
  border-radius: 15px;
  text-decoration: none;
  color: #E9F1F7;
}

/*-------Body-------*/
/*Video*/
.section-video {
  position: relative;
  margin: none;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

/*Butões*/
.visita {
  background-color: #2274A5;
  height: 300px;
  object-position: center;
  justify-content: center;
  color: #E9F1F7;
}

/*Butões*/
.card {
  border-radius: 0;
  margin: 10px auto;
  box-shadow: #000000;
}

.card-title {
  text-transform: uppercase;
  color: #19567B;
  font-weight: bold;
  position: relative;

}

.card-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1 {
  background: #2274A5;
  font-weight: 800;
  justify-content: center;
  position: relative;
  text-align: center;
}

/*-------Footer-------*/
.footerlogo {
  height: 100px;
}

.footerlogo img {
  size: 70px;
}

.footer ul a {
  display: inline-block;
  padding: 8px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #2274A5;
  color: #E9F1F7;
}

.textcentro {
  text-align: center;
  font-size: 15px;
  text-decoration: none;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #1b5e84;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -35px;
  opacity: 70%;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #19567B;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #19567B;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #19567B;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #19567B;
  color: #ffffff;
}

.textBaixo {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
}

/*-------@Media-------*/
@media (max-width:1400px) {

  .inner-width{
    padding-right: 20px;
  }
  .menu-toggle-btn {
    display: block !important;
  }

  .navigation-menu {
    position: static;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  position: absolute !important;
  }

  .navigation-menu::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a {
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active {
    display: block;
  }
}

@media (max-width: 900px){

  .inner-width{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
    .logo{
      width: 200px;
      height: 100%;
    }
}